{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello Honey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style media="screen">
       h1 {
        font-family: "Comic Sans MS", cursive, sans-serif;
      }
    </style>
    <script src="{% static 'scripts/from_honey.js' %}"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </div>
      </div>

    </div>

    {% if time %}
      <h1>Where's the Honey</h1>
    {% else %}
    <img src="{% static 'img/Honey.png' %}">
    <div class="container-fluid">
      <h1></h1>
      <p class="font-monospace">Hello I am the Honey</p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <button type="button" class="btn btn-block btn-primary" name="button">Compliment</button>
          <button type="button" class="btn btn-block btn-primary" name="button">Get a Fact</button>
          <button type="button" class="btn btn-block btn-primary" name="button" id="compliment">Get a Compliment</button>

        </div>

      </div>

    </div>
    {% endif %}

  </body>
</html>
